.show_user
  .row
    %aside.span4
      %section
        %h1
          = gravatar_for @user # Применение пакета Gravatar
          = @user.name
%p
  %b= t('.email')
  = @user.email
= link_to t('.work'), work_path, class: "btn btn-lg btn-primary"

%p#notice= notice

%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email

-# = link_to 'Edit', edit_user_path(@user)
-# \|
-# = link_to 'Back', users_path
